<!DOCTYPE html>
<html>
<head>
    <title>Print History</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h2>Print Job History (Last 50)</h2>
    <table>
        <tr>
            <th>ID</th>
            <th>Employee ID</th>
            <th>Document Name</th>
            <th>Pages</th>
            <th>Print Time</th>
        </tr>
        {% for log in logs %}
        <tr>
            <td>{{ log[0] }}</td>
            <td>{{ log[1] }}</td>
            <td>{{ log[2] }}</td>
            <td>{{ log[3] }}</td>
            <td>{{ log[4] }}</td>
        </tr>
        {% endfor %}
    </table>
    <br>
    <a href="{{ url_for('login_form') }}">Back to Print Page</a>
</body>
</html>
